@model IntuitSampleMVC.Models.IBSSignUP
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Register", "IBSAccount"))
{
    <table>
        <thead>
            <tr>

                 <h1>Start My FREE 14-Day Trial</h1>
<p>Fast sign up. No credit card required. Cancel anytime.</p>

            </tr>
            <tr></tr>
        </thead>
        <tbody>
            <tr>
                 
       @Html.TextBoxFor(e => e.Name,new { placeholder = "Name"})
                  @Html.ValidationMessage("Name","*")
       <br />
      <br />
       @Html.TextBoxFor(e => e.Email,new { placeholder = "Email"})
                  @Html.ValidationMessage("Email","*")
       <br />
      <br />
       @Html.TextBoxFor(e => e.PhoneNumber,new { placeholder = "Phone Number"})
                  @Html.ValidationMessage("PhoneNumber","*")
       <br />
    <br />
       @Html.TextBoxFor(e => e.Password,new { placeholder = "Password"})
                  @Html.ValidationMessage("Password","*")
       <br />
     <br />
       @Html.TextBoxFor(e => e.ConformPassWord,new { placeholder = "Conform Password"})
                  @Html.ValidationMessage("ConformPassWord", "*")
       <br />
      <br />
       @Html.TextBoxFor(e => e.CompanyName,new { placeholder = "Company Name"})
                  @Html.ValidationMessage("CompanyName","*")
       <br />
       <br />
       @Html.TextBoxFor(e => e.Country,new { placeholder = "Country"})
                  @Html.ValidationMessage("Country","*")

            </tr>


        </tbody>
   

  
     

   
   
    <div id="form-completion-block">
        <input type="checkbox" class="fine_print" name="acceptlegal" id="acceptlegal" checked style="display: none;">
        <p class="general-form-msg"></p>
        
        <input id="signup_button" type="submit" value="Start My FREE 14-Day Trial" />
            
      
        <span id="signup_loading" class="hidden-all">Creating your account. Please wait.</span>
        <p class="success_message hidden-all">Congratulations! Signup successful. Check your email for some TSheets Love.</p>
        <p id="telesuccess_message" class="hidden-all success_message">Signup successful.</p>
        <p class="note center">
            By signing up, you are agreeing to our
            <a href="/terms-and-conditions" target="_blank">terms and conditions</a>. We hate spam as much as you do. No worries, your data is safe with us.
        </p>
    </div>
</table>
}