@model IntuitSampleMVC.Models.IBSSignUP
@{
    ViewBag.Title = "SignUp";
    if (!Model.isLayout)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}

@using (Html.BeginForm("Register", "IBSAccount")){
 
    <table>
        <thead>
            <tr>

                <h1>Register My FREE Account</h1>
                <p>Fast sign up. No credit card required. Cancel anytime.</p>

            </tr>
            <tr></tr>
        </thead>
        <tbody>
            <tr>

                @Html.TextBoxFor(e => e.Name, new { placeholder = "Name" })  
                <br />
                <br />
                @Html.TextBoxFor(e => e.Email, new { placeholder = "Email" })
                @Html.ValidationMessageFor(model => model.Email)
         
                <br />
                <br />
                @Html.TextBoxFor(e => e.PhoneNumber, new { placeholder = "Phone Number" })

                <br />
                <br />
                @Html.PasswordFor(e => e.Password, new { placeholder = "Password" })
               @Html.ValidationMessageFor(model => model.Password)
                <br />
                <br />
                @Html.TextBoxFor(e => e.ConformPassWord, new { placeholder = "Conform Password" })
                 @Html.ValidationMessageFor(model => model.ConformPassWord)
              
                <br />
                <br />
                @Html.TextBoxFor(e => e.CompanyName, new { placeholder = "Company Name" })

                <br />
                <br />
                @Html.TextBoxFor(e => e.Country, new { placeholder = "Country" })


            </tr>


        </tbody>

        <div id="form-completion-block">
            <input type="checkbox" class="fine_print" name="acceptlegal" id="acceptlegal" checked style="display: none;">
            <p class="general-form-msg"></p>

            <input id="signup_button" type="submit" value="Register My FREE Account" />
        </div>
    </table>
}