@model IEnumerable<NNR.Web.Models.Customers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover sortable">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>
        }
        else
        {
            <thead>
                <tr>
                    <th data-defaultsign="_19">
                        @Html.DisplayNameFor(model => model.Balance)
                    </th>
                    <th data-defaultsign="AZ">
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th data-defaultsign="_19">
                        @Html.DisplayNameFor(model => model.CreditLimit)
                    </th>
                    <th data-defaultsign="AZ">
                        @Html.DisplayNameFor(model => model.EmailAddress)
                    </th>
                    <th data-defaultsign="AZ">
                        @Html.DisplayNameFor(model => model.FullyQualifiedName)
                    </th>

                    <th data-defaultsign="_19">
                        @Html.DisplayNameFor(model => model.TotalExpense)
                    </th>
                    <th></th>
                </tr>
            </thead>
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreditLimit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullyQualifiedName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.TotalExpense)
                    </td>
                    <td>
                        <p>
                            @Html.ActionLink("Invoice", "Index", "Invoice", new { custqbId = item.Id }, null)
                        </p>
                    </td>
                </tr>
            }
        }
    </table>
</div>  

