@{
    string MenuProxy = Request.Url.GetLeftPart(UriPartial.Authority) + "/" + System.Configuration.ConfigurationManager.AppSettings["menuProxy"];
    string OauthGrant = Request.Url.GetLeftPart(UriPartial.Authority) + "/" + System.Configuration.ConfigurationManager.AppSettings["grantUrl"];

    IntuitSampleMVC.Models.QBUser qbusr = (IntuitSampleMVC.Models.QBUser)Session["QBUser"];
    if (qbusr == null)
    {
        qbusr = new IntuitSampleMVC.Models.QBUser();
    }
    bool showConnect = qbusr.IsShowConnect;


    // Read value from session and check flag which decides the display of blue dot menu

    bool blueDotVisibility = !showConnect;
}
<!DOCTYPE html>
<html xmlns:ipp="">
<head>
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="@Url.Content("~/Scripts/MicrosoftAjax.debug.js")" type="text/javascript"></script>

    <script type="text/javascript" src="https://js.appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>
    <script type="text/javascript">
        intuit.ipp.anywhere.setup({
            menuProxy: '@MenuProxy',
            grantUrl: '@OauthGrant'
        });
    </script>
    <script type="text/javascript">
<!--
    function confirmPost(url) {
        var agree = confirm("You will no longer be able to access QuickBooks data. Continue?");
        if (agree)
            window.location = url;
        else
            return false;
    }
    // -->

    $(document).ready(function () {
        if ($('#intuitPlatformAppMenu').length > 0) {
            $('#userInfo').css('right', '175px');
        }
        else {
            $('#userInfo').css('right', '66px');
        }

        $('#intuitPlatformAppMenu').css('margin-right', '3.2%');
        $('#intuitPlatformAppMenu').css('position', 'none');
    });

    </script>
    <style type="text/css">
        #errorDiv {
            border: 3px solid Red;
            color: Red;
            padding: 25px;
            margin-top: 2%;
        }
    </style>
</head>
<body>
    @if (WebSecurity.HasUserId)
    {
        if (@blueDotVisibility)
        { 
        <ipp:bluedot></ipp:bluedot>
        }
    }


    <div style="text-align: center;">

        <div style="width: 50%; margin: 0 auto; text-align: left;">
            <table style="width: 100%;">
                <tr>
                    <img src="../images/homepage_01.jpg" />

                </tr>
                <tr>
                    <td style="width: 30%; vertical-align: top; text-align: left;">
                        @if (WebSecurity.HasUserId && !showConnect)
                        {
                            @Html.ActionLink("Customers", "Index", "IBSQB");
                        }

                    </td>
                    <td style="width: 70%">
                        <div>
                            @if (WebSecurity.HasUserId)
                            {
                                <p>
                                    Welcone @WebSecurity.CurrentUserName

                                    @if (!showConnect)
                                    {
                                        <a href="javascript:void(0);"
                                            onclick="return intuit.ipp.anywhere.logout(function () { window.location='/Logout/index'; });">Disconnect from QuickBooks</a>
                                    }
                                    else
                                    {
                                        <ipp:connecttointuit></ipp:connecttointuit> 
                                    }
                                    @Html.ActionLink("LogOut", "LogOff", "IBSAccount")
                                </p> 
                            }
                            else
                            {
                                if (showConnect)
                                {
                                <h2>Connect with QuickBooks To generate Invoices For Your Customers And More...</h2>                             
                                <div id="signininfo">
                                    <ipp:login href="/OpenId/index"></ipp:login>
                                    <br />
                                </div>  
                                }
                            }
                            @RenderBody()
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
