@model List<IntuitSampleMVC.Models.CustomerUI>
@{
    ViewBag.Title = "QBCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Get the Type object corresponding to MyClass.
    Type myType = @Model.FirstOrDefault().CustEmpVendorObj.GetType();
    // Get the PropertyInfo object by passing the property name.
    System.Reflection.PropertyInfo[] myPropInfo = myType.GetProperties();
     
    
}
3
<h2>QBCustomers</h2>

@using (Html.BeginForm("NewInvoice", "IBSQB"))
{
    <p>
        @Html.ActionLink("Create New", "Create")

        <br />
        <input type="submit" value="Create new invoice" />
    </p>
    <table>
        @foreach (var item in Model)
        {          
            <tr>
                @foreach (var propObj in myPropInfo)
                {
                    var temp = propObj.GetValue(item.CustEmpVendorObj, null);
                    if (Convert.GetTypeCode(temp) != TypeCode.Object)
                    {
                        if (temp != null)
                        {
                            if (Model.IndexOf(item) == 0)
                            {
                           
                    <th>
                        @Html.DisplayFor(x => propObj.Name)
                    </th> 
                           
                            }
                            else
                            {
                                if (myPropInfo[0] == propObj)
                                {
                                   var id=  myPropInfo.Where(e => e.Name == "Id").FirstOrDefault().GetValue(item.CustEmpVendorObj, null);
                                    <td>
                                        <input type="checkbox" name="Selected" value= "@id" />
                                    </td> 
                                }
                          
                                    <td>
                                        @temp.ToString()
                                    </td> 
                            }
                        }
                    }
                }
            </tr>  
        }

    </table>  
 
}
