@model IntuitSampleMVC.Models.CustomerModel
@{
    ViewBag.Title = "QBCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";  
}
@using (Html.BeginForm("NewInvoice", "IBSQB"))
{
    if (Model != null)
    {        
    
    <p>
        <br />
        <input type="submit" value="Create new invoice" />
    </p>
    <table>

        <tr>
            <th></th>
            <th>
                @Html.LabelFor(e => e.LstCustomerUI.FirstOrDefault().Name)
            </th>
            <th>
                @Html.LabelFor(e => e.LstCustomerUI.FirstOrDefault().Email)
            </th>
            <th>
                @Html.LabelFor(e => e.LstCustomerUI.FirstOrDefault().ContactNumber)
            </th>
            '
                  <th>
                      @Html.LabelFor(e => e.LstCustomerUI.FirstOrDefault().Notes)
                  </th>
        </tr>
        @foreach (IntuitSampleMVC.Models.CustomerUI item in Model.LstCustomerUI)
        {
            <tr>
                <td>
                    <input type="checkbox" name="Selected" value= "@item.Id" />

                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.ContactNumber
                </td>
                <td>
                    @item.Notes
                </td>
            </tr>
        }
    </table>  
    }
}
